/* css file is linked to html */
* {
    box-sizing: border-box;
  }

.questions-container {
	border: 3px solid green;
    height: 400px;
    width: 600px;
    
}

.row {
    border: 2px solid red;
    height: 20%;
    display: flex;
}

.column {
    border: 1px solid blue;
    width: 20%;
}

